{% extends 'base/main.html' %}
{% load static %}
{% block content %}

    <div class="form_add_number">
        <form method="POST" action="/add/">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>


{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/imask.js' %}"></script>
  <script type="text/javascript">
       $(document).ready(function () {
          {#$("input[name=msisdn]").mask("**********", { placeholder: "", autoclear: false});#}
          {#$("input[name=contact_phone]").mask("**********", { placeholder: "", autoclear: false});#}
          $("input[name=msisdn], input[name=contact_phone]").each((i, el) => {
              new IMask(el, {
                  mask: "+{7} (000) 000-00-00",
                  lazy: false,
                  autofix: true,
                  overwrite: true
              });
          });
       });

  </script>
{% endblock  %}