﻿{% extends 'base/main.html' %}
{% load i18n comments static %}
{% block content %}

<div class="purchase-form">

    <div class="purchase-form-top">
        <div class="purchase-logo"><img src="" alt=""></div>
        <div class="purchase-num">
            <p class="numer-pure">+7{{ item.msisdn_custom_national }}</p>
        </div>
    </div>

    <div class="purchase-form-middle">
        <ul>
            <li>Оператор: {{item.get_operator_display}}</li>
            <li>ЦЕНА: {{item.price}} &#8376;</li>
            <li>ИМЯ ПРОДАВЦА: <a href="{% url 'seller' item.owner.id %}">{{item.owner}}</a></li>
            <li>ГОРОД: {{item.get_city_display}}</li>
            <li>КОНТАКТЫ: <a href="tel:{{item.contact_phone}}">+7{{item.contact_phone_custom_national}}</a></li>
            <li>ОПИСАНИЕ: {{item.description|safe}}</li>
        </ul>
    </div>

    <div class="purchase-form-bottom">
        <ul class="two-button">
            <li><a href="tel:{{item.contact_phone}}">Позвонить</a></li>
            <li><a href="">Написать</a></li>
        </ul>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/ajaxcomments.css' %}" />
<script type="text/javascript" src="{% static 'js/ajaxcomments.js' %}"></script>

{% render_comment_list for item %}
<div class="comment">
    <a href="">Оставить комментарий</a>
</div>

{% if user.is_authenticated %}
  {% render_comment_form for item %}
{% else %}
    <div class="regbut-pure">
        <a href="{% url 'registration' %}">Регистрация</a> / <a href="{%url 'login'%}">Вход</a>
    </div>
{% endif %}
{% endblock content %}