﻿{% extends 'base/main.html' %}

{% load static %}
{% load my_tags %}

{% block content %}


<h1 class="subtitle">Подбор номера</h1>
<div class="topsearch">
    <div class="form-group">
        <h1 class="seven">+7</h1>
        <input id="prefix" placeholder="***" type="tel" class="form-control" autocomplete="off" name="prefix" value="{{prefix}}">
        <input id="phone" placeholder="***-**-**" type="tel" class="form-control" autocomplete="off" name="term" value="{{term}}">
    </div>
</div>

<img src="{% static 'img/simhand.png'%}" alt="" style="position: absolute; width: 250px;height: 200px; right: 150px; margin-top: -280px; opacity: 30%;">

<div class="titletop">
    <h2>ТОП</h2>

</div>


<div class="numbers__box1">
    <div class="parent">
        {% for item in top_items %}
        <tr>
            <td>
                <a href="{%url 'detail' item.pk%}" class="topnum">+7{{item.msisdn_custom_national}}</a>
            </td>
        </tr>
        {% endfor %}
    </div>
</div>





<div class="bottom__operators">
    <div class="operators__inner">

        <button class="button-three beeline">
            <a href="/?operator=beeline"><img src="{% static 'img/beeline-m.png' %}" style="margin-bottom: 3px;" />BEELINE</a>
        </button>

        <button class="button-three activ">
            <a href="/?operator=activ"><img src="{% static 'img/activ.png' %}" style="width: 30px;height: 30px;margin-bottom: 3px; margin-right:8px;">ACTIV</a>
        </button>

        <button class="button-three kcell">
            <a href="/?operator=kcell"><img src="{% static 'img/kcell-m.png' %}" style="margin-bottom: 3px; margin-right:5px;">KCELL</a>
        </button>

        <button class="button-three tele2">
            <a href="/?operator=tele2">TELE2</a>
        </button>

        <button class="button-three altel">
            <a href="/?operator=altel"><img src="{% static 'img/Altel.png' %}" style="width: 30px;height: 30px;margin-bottom:4px;">LTEL</a>
        </button>

        <button class="button-three izi">
            <a href="/?operator=izi"><img src="{% static 'img/izi.png' %}" style="width:30px;height:30px;margin-bottom: 4px; ">IZI</a>
        </button>

    </div>

</div>


<div class="numbers__box2">
    <div class="parent2">
        {% for item in items %}
        <tr>
            <td>
                <div class="title__numbers">
                    <h6 class="{{item.css_class}}">{{item.get_operator_display}}</h6>
                    <div class="seven2">
                        <h4>+7</h4>
                        <div class="topnumbox2">
                            <a href="{%url 'detail' item.pk%}" class="topnum2">{{item.msisdn_custom_national}}</a>
                        </div>
                    </div>
                    <h6 class="title__sell">{{item.price_html}}</h6>
                </div>
            </td>
        </tr>
        {% endfor %}
    </div>
    {% if items.has_other_pages %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if items.has_previous %}
              <li class="page-item"><a class="page-link" href="?{% param_replace page=items.previous_page_number %}"></a></li>
            {% else %}
              <li class="disabled page-item"><span></span></li>
            {% endif %}
            {% for i in items.paginator.page_range %}
              {% if items.number == i %}
                  <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(Текущая)</span></span></a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if users.has_next %}
              <li class="page-item"><a class="page-link" href="?{% param_replace page=items.next_page_number %}"></a></li>
            {% else %}
              <li class="disabled page-item"><span></span></li>
            {% endif %}
      </ul>
  </nav>
{% endif %}
</div>
{% endblock content %}


{% block scripts %}
{#  Необходимы для работы с ajax запросами  #}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>


{# непосредственно js код для поиска номера #}
<script>
    // Нужно для безопасной работы ajax запросов
    let csrftoken = Cookies.get('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // Получаю значения из полей ввода номера телефона
    let phone = document.querySelector('#phone');
    let prefix = document.querySelector('#prefix');

    let previous_search = '';

    // Фильтрую данные, чтобы потом отправить запрос на сервак
    function send_number() {
        let ajax_prefix = prefix.value, ajax_number = phone.value;

        let full_number = ajax_prefix + ajax_number;
        // Делаю проверку, чтобы при перемещении курсора не отправлялся аякс запрос
        if (previous_search !== full_number) {
            get_find_numbers(ajax_prefix, ajax_number);
        }
        previous_search = full_number;
    }

    // А это уже непосредственно работа с ajax
    function get_find_numbers(ajax_prefix, ajax_number) {
        // Отправляю запрос
        $.post('{% url 'find_number' %}', {
            prefix: ajax_prefix,
            number: ajax_number,
            filter: '{{ this_page }}',
        }, function(data) {
            // Начинаю обрабатывать
            let clear_numbers = document.querySelector('.numbers__box2 .parent2');
            // Очищаю блок от номеров, которые в нём были ранее
            clear_numbers.innerHTML = '';

            // Перевожу полученный ответ в виде строки в json
            data = JSON.parse(data);
            let numbers = data['find_numbers'];

            // Перебираю все найденные номера
            for (number of numbers) {
                // Закидываю параметры номера в переменные
                let msisdn = number['msisdn'];
                let operator = number['operator'];
                let price = number['price'];
                let is_rent = number['is_rent'];
                let link = number['link'];
                let css_class = number['css_class'];

                // Начинаю формировать html код конкретного номера
                let country_code = document.createElement('h4');
                country_code.innerText = '+7';

                let block_text_number = document.createElement('div');
                block_text_number.classList.add('topnumbox2');
                block_text_number.innerHTML = `<a href="${link}" class="topnum2">${msisdn}</a>`;

                let block_wrapper = document.createElement('div');
                block_wrapper.classList.add('seven2');
                block_wrapper.appendChild(country_code);
                block_wrapper.appendChild(block_text_number);

                let block_operator = document.createElement('h6');
                block_operator.classList.add(`${css_class}`);
                block_operator.innerText = `${operator}`;

                let block_price = document.createElement('h6');
                block_price.classList.add('title__sell');
                if (is_rent) {
                    block_price.innerText = `${price} тг/мес`;
                } else {
                    block_price.innerText = `${price} тг`;
                }

                let main_block = document.createElement('div');
                main_block.classList.add('title__numbers');
                main_block.appendChild(block_operator);
                main_block.appendChild(block_wrapper);
                main_block.appendChild(block_price);

                // В ранее очищенный блок закидываю очередной номер
                clear_numbers.appendChild(main_block);
            }
        });
    }

    // Получение изменения поля и вызов функции, которая будет обрабатывать полученный номер от юзера
    phone.onkeyup = phone.oninput = prefix.onkeyup = prefix.oninput = send_number;
    phone.onpropertychange = prefix.onpropertychange = function(event) {
        if (event.propertyName == "value") send_number();
    }
    phone.oncut = prefix.onpropertychange = function() {
        setTimeout(send_number, 0);
    }
</script>
{% endblock %}
