﻿{% extends 'base/main.html' %}

{% load static %}
{% load my_tags %}

{% block content %}

<div class="add_number">
    <button type="button" class="btn btn-outline-secondary"><a href="{% url 'add' %}">Добавить номер</a></button>
</div>


<div class="numbers__box2">
    <div class="parent2">
        {% for item in items %}
        <tr>
            <td>
                <div class="title__numbers">
                    <h6 class="{{item.css_class}}">{{item.get_operator_display}}</h6>
                    <div class="seven2">
                        <h4>+7</h4>
                        <div class="topnumbox2">
                            <a href="{%url 'edit' item.pk%}" class="topnum2">{{item.msisdn_custom_national}}</a>
                        </div>
                    </div>
                    <h6 class="title__sell">{{item.price_html}}</h6>
                </div>
            </td>
        </tr>
        {% endfor %}
    </div>
    {% if items.has_other_pages %}
    
        <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if items.has_previous %}
              <li class="page-item"><a class="page-link" href="?{% param_replace page=items.previous_page_number %}"></a></li>
            {% else %}
              <li class="disabled page-item"><span></span></li>
            {% endif %}
            {% for i in items.paginator.page_range %}
              {% if items.number == i %}
                <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(Текущая)</span></a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if users.has_next %}
              <li class="page-item"><a class="page-link" href="?{% param_replace page=items.next_page_number %}"></a></li>
            {% else %}
              <li class="disabled page-item"><span></span></li>
            {% endif %}
      </ul>
  </nav>
{% endif %}
</div>
{% endblock content %}
