{% extends 'base/main.html' %}

{% block content %}
    <div class="info-seller">
        <h1>Продавец: <span class="name_seller">{{ seller.username }}</span></h1>
        <p>Номера, которые он продаёт:</p>
    </div>

    <div class="numbers_of_seller">
        <div class="numbers__box2">
            <div class="parent2">
                {% for item in numbers %}
                <tr>
                    <td>
                        <div class="title__numbers">
                            <h6 class="{{item.css_class}}">{{item.get_operator_display}}</h6>
                            <div class="seven2">
                                <h4>+7</h4>
                                <div class="topnumbox2">
                                    <a href="{%url 'detail' item.pk%}" class="topnum2">{{item.msisdn_custom_national}}</a>
                                </div>
                            </div>
                            <h6 class="title__sell">{{item.price_html}}</h6>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}